html, body {
    font-family: "Helvetica Neue";
    font-weight: 100;
    margin: 0;
    min-width: 320px;
}
body {
    background-color: rgba(0, 128, 128, 0.3);
}
.main {
    box-sizing: border-box;
    height: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px 10px 10px;
    border-color: grey;
    text-align: center;
    min-width: 512px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}
h1 {
    font-family: "Helvetica Neue";
    font-size: 28px;
    font-weight: 300;
}
h3 {
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-weight: 200;
}
label {
    font-size: 24px; 
    font-weight: 200;
}
input[type=radio] {
    display: inline-block;
    margin-left: 12px;
}
#recommendation, #score {
    font-size: 36px;
    margin: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
}
#risks {
    font-size: 24px;
    margin: 10px;;
    font-weight: normal;
}
@media screen and (max-width: 800px) {
    #back-link {
        position: static;
        display: block;
        font-size: 36px;
        margin-bottom: 12px;
    }
    .main-div {
        min-width: 0;
        max-width: 512px;
        width: 90%;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
    #risks {
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    #score, #recommendation {
        font-size: 24px;
        font-weight: 300px;
    }
}