html, body {
    font-family: "Helvetica Neue";
    text-align: center;
    font-weight: 100;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
}
body {
    background-color: rgba(0, 128, 128, 0.3);
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.main {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title-header {
    font-size: 64px;
    font-weight: 200;
    padding-top: 12px;
}
#links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.pop {
    font-family: Arial;
    font-weight: 100;
    padding: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 15px;
}
.recurrenceOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#recurrence {
    display: flex;
    flex-direction: column;
}
#ago, #imodel {
    display: flex;
    flex-direction: column;
    width: 48%;
}
h1 {
    font-family: "Helvetica Neue";
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}
h3 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 45px;
    margin: 0;
    margin-top: 24px;
}
a {
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    margin: 0;
    margin-top: 36px;
    padding: 0 5px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 128, 128, 0.5);
}
a:hover {
    background-color: rgba(0, 128, 128, 0.3);
}
a:active {
    background-color: rgba(0, 128, 128, 0.7);
}
@media screen and (max-width: 920px) {
    body {
        min-height: 300px;
    }
    #title-header {
        font-size: 48px;
    }
    #links {
        box-sizing: border-box;
        flex-direction: column;
        height: 100%;
    }
    .pop {
        width: 90%;
        min-height: 128px;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        margin-top: 12px;
        font-size: 24px;
    }
    a {
        font-size: 24px;
        margin-top: 12px  !important;
        min-height: 30px;
    }
}
@media screen and (max-height: 400px) {
    body {
       height: auto;
    }
}