<!DOCTYPE html>
<html>
    <head>
        <link href="/css/404.css" type="text/css" rel="stylesheet">
        <title>404 - OCR</title>
    </head>
    <body>
        <h1 class="headers" id="title-header">Ovarian Cancer Recommendation Site </h1>
        <hr>
        <div id="main-div">
            <h1>404 Error</h1>
            <h3>The page that you were looking for could not be found.</h3>
            <h3>Try clicking on one of the links below</h3>
            <div id="links">
                <a href="/ago">AGO</a>
                <a href="/imodel">iModel</a>
                <a href="/fagotti">Fagotti</a>
            </div>
        </div>
    </body>
</html>