<!DOCTYPE html>
<html>
    <head>
        <title>AGO</title>
        <link href="css/score.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a id="logout-link" href="/logout">Log out</a>
        <main>
            <div id="main-div">
                <form method="POST">
                    <div id="content">
                        <h1>{{category}}</h1>
                        <button type="submit" name="yes" value="yes">Yes</button>
                        <button type="submit" name="no" value="no">No</button>
                    </div>
                    <input type="hidden" name="category" value="{{category}}"/>
                </form>
            </div>
        </main>
    </body>
</html>