<!DOCTYPE html>
<html>
    <head>
        <title>AGO - OCR</title>
        <link href="/css/score.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a id="back-link" href="/">Back</a>
        <main>
            <div class="main-div" id="ago-main-div">
                <div id="categories"></div>
                <div id="recommendation"></div>
            </div>
        </main>
        <script src="/js/ago.js"></script>
    </body>
</html>