<!DOCTYPE html>
<html>
    <head>
        <title>AGO</title>
        <link href="css/score.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a id="back-link" href="/">Back</a>
        <a id="logout-link" href="/logout">Log out</a>
        <main>
            <div id="main-div">
                <div id="categories">
                    <h1>Disease-free interval > 6 months</h1>
                    <input type="radio" id="0" onclick="postData(this)" name="Disease-free interval > 6 months" value="yes"/>
                    <label for="yes">Yes</label>
                    <input type="radio" id="1" onclick="postData(this)" name="Disease-free interval > 6 months" value="no"/>
                    <label for="no">No</label>
                    <hr>
                </div>
                <div id="recommendation"></div>
                <script>
                    function postData(radio) {
                        var htmlElements = [];
                        var htmlDiv = document.getElementsByTagName('*')[9].childNodes
                        for(var i=0; i<document.getElementsByName(radio.name).length; i++) {
                            document.getElementsByName(radio.name)[i].removeAttribute('checked');
                        }
                        radio.setAttribute('checked', true);
                        for(var i=0; i<htmlDiv.length; i++) {
                            if(htmlDiv[i].nodeName !== '#text') {
                                htmlElements.push(htmlDiv[i]);
                            }
                        }
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if(this.readyState === 4 && this.status === 200) {
                                var response = JSON.parse(this.responseText);
                                for(var i=0; i<htmlDiv.length; i++) {
                                    if(htmlDiv[i] === radio) {
                                        if(radio.value === 'yes') htmlElements = htmlElements.slice(0, i+5);
                                        else htmlElements = htmlElements.slice(0, i+3);
                                    }
                                }
                                document.getElementById('categories').innerHTML = null;
                                for(var i=0; i<htmlElements.length; i++) {
                                    document.getElementById('categories').appendChild(htmlElements[i]);
                                }
                                if(response.recommendation) {
                                    return document.getElementById('recommendation').innerHTML = 'Recommendation: ' + "<span style='text-decoration: underline;'>" + response.recommendation;
                                } else {
                                    document.getElementById('recommendation').innerHTML = null;
                                }
                                var htmlResponse = [
                                    "<h1>" + response.category + '</h1>',
                                    "<h3>" + response.subCategory + '</h3>',
                                    "<input type='radio' name='" + response.category + "' onclick='postData(this)' value='yes'/>",
                                    "<label for='yes'>Yes</label>",
                                    "<input type='radio' name='" + response.category + "' onclick='postData(this)' value='no'/>",
                                    "<label for='no'>No</label>",
                                    "<hr>"
                                ];
                                for(var i=0; i<htmlResponse.length; i++) {
                                    document.getElementById('categories').innerHTML += htmlResponse[i];
                                }
                            }
                        };
                        xhttp.open('POST', '/ago', true);
                        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                        xhttp.send('category=' + radio.name + '&value=' + radio.value);
                    }
                </script>
            </div>
        </main>
    </body>
</html>