<!DOCTYPE html>
<html>
    <head>
        <title>AGO - OCR</title>
        <link href="/css/score.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a id="back-link" href="/">Back</a>
        <div class="main-div" id="ago-main-div">
            <div id="categories">
                <h1>Disease-free interval > 6 months</h1>
                <input type='radio' id='0' name='Disease-free interval > 6 months' onclick='postData(this)' value='yes'/>
                <label for='yes'> Yes</label>
                <input type='radio' id='1' name='Disease-free interval > 6 months' onclick='postData(this)' value='no'/>
                <label for='no'> No</label>
                <hr>
            </div>
            <div id="recommendation"></div>
        </div>
        <script src="/js/ago.js"></script>
    </body>
</html>