<!DOCTYPE html>
<html>
    <head>
        <title>iModel</title>
        <link href="css/score.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <a id="back-link" href="/">Back</a>
        <a id="logout-link" href="/logout">Log out</a>
        <main>
            <div class="main-div" id="imodel-main-div">
                <div id="categories">
                    <h1>FIGO Stage</h1>
                    <input type="radio" name="FIGO" value="I" onclick="postData(this)" required/>
                    <label for="I">I</label>
                    <input type="radio" name="FIGO" value="II" onclick="postData(this)"/>
                    <label for="II">II</label>
                    <input type="radio" name="FIGO" value="III" onclick="postData(this)"/>
                    <label for="III">III</label>
                    <input type="radio" name="FIGO" value="IV" onclick="postData(this)"/>
                    <label for="IV">IV</label>
                    <hr>
                    <h1>Residual Disease After Primary Surgery</h1>
                    <input type="radio" name="RD" value="0" onclick="postData(this)" required/>
                    <label for="0">0</label>
                    <input type="radio" name="RD" value=">0" onclick="postData(this)" required/>
                    <label for=">0">>0</label>
                    <hr>
                    <h1>Progression Free Interval</h1>
                    <input type="radio" name="PFI" value="<16" onclick="postData(this)" required/>
                    <label for="<16">&lt;16</label>
                    <input type="radio" name="PFI" value="≥16" onclick="postData(this)" required/>
                    <label for="≥16">≥16</label>
                    <hr>
                    <h1>ECOG Performance Status</h1>
                    <input type="radio" name="ECOG" value="0-1" onclick="postData(this)" required/>
                    <label for="0-1">0-1</label>
                    <input type="radio" name="ECOG" value="2-3" onclick="postData(this)" required/>
                    <label for="2-3">2-3</label>
                    <hr>
                    <h1>CA125 At Recurrence (U/ml)</h1>
                    <input type="radio" name="CA125" value="≤105" onclick="postData(this)" required/>
                    <label for="≤105">≤105</label>
                    <input type="radio" name="CA125" value=">105" onclick="postData(this)" required/>
                    <label for=">105">>105</label>
                    <hr>
                    <h1>Ascites At Recurrence</h1>
                    <input type="radio" name="ASCITES" value="Present" onclick="postData(this)" required/>
                    <label for="Present">Present</label>
                    <input type="radio" name="ASCITES" value="Absent" onclick="postData(this)"/>
                    <label for="Absent">Absent</label>
                    <hr>
                    <p id="risks">Low risk: ≤4.7; High risk: >4.7</p>
                    <h1 id="recommendation"></h1>
                    <h1 id="score">Score: 0.0</h1>
                </div>
            </div>
        </main>
        <script>
            function postData(radio) {
                var radios = document.getElementsByTagName('input');
                var url = '';
                for(var i=0; i<radios.length; i++) {
                    if(radios[i].checked) url += radios[i].name + '=' + radios[i].value + '&';
                }
                fetch('/imodel', {
                    method: 'post',
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                    },
                    body: url.slice(0, -1)
                }).then(response => response.json())
                .then(response => {
                    document.getElementById('recommendation').textContent = response.recommendation;
                    document.getElementById('score').textContent = 'Score: ' + response.score;
                }).catch(error => {
                    document.getElementById('recommendation').textContent = 'Error: ' + error;
                })
            }
        </script>
    </body>
</html>