<!DOCTYPE html>
<html>
    <head>
        <title>iModel - OvScore</title>
        <link href="/css/header.css" type="text/css" rel="stylesheet">
        <link href="/css/imodel.css" type="text/css" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <a id="back-link" href="/">Back</a>
        <div class="main">
            <div class="main-div" id="imodel-main-div">
                <div id="categories">
                    <h1>FIGO Stage</h1>
                    <label>
                        <input type="radio" name="FIGO" value="I" required/>
                        I
                    </label>
                    <label>
                        <input type="radio" name="FIGO" value="II" required/>
                        II
                    </label>
                    <label>
                        <input type="radio" name="FIGO" value="III" required/>
                        III
                    </label>
                    <label>
                        <input type="radio" name="FIGO" value="IV" required/>
                        IV
                    </label>
                    <hr>
                    <h1>Residual Disease After Primary Surgery</h1>
                    <label>
                        <input type="radio" name="RD" value="0" required/>
                        0
                    </label>
                    <label>
                        <input type="radio" name="RD" value=">0" required/>
                        >0
                    </label>
                    <hr>
                    <h1>Progression Free Interval</h1>
                    <label>
                        <input type="radio" name="PFI" value="<16" required/>
                        &lt;16
                    </label>
                    <label>
                        <input type="radio" name="PFI" value="≥16" required/>
                        ≥16
                    </label>
                    <hr>
                    <h1>ECOG Performance Status</h1>
                    <label>
                        <input type="radio" name="ECOG" value="0-1" required/>
                        0-1
                    </label>
                    <label>
                        <input type="radio" name="ECOG" value="2-3" required/>
                        2-3
                    </label>
                    <hr>
                    <h1>CA125 At Recurrence (U/ml)</h1>
                    <label>
                        <input type="radio" name="CA125" value="≤105" required/>
                        ≤105
                    </label>
                    <label>
                        <input type="radio" name="CA125" value=">105" required/>
                        >105
                    </label>
                    <hr>
                    <h1>Ascites At Recurrence</h1>
                    <label>
                        <input type="radio" name="ASCITES" value="Present" required/>
                        Present
                    </labeL>
                    <label>
                        <input type="radio" name="ASCITES" value="Absent"/>
                        Absent
                    </label>
                    <hr>
                    <p id="risks">Low risk: ≤4.7; High risk: >4.7</p>
                    <h1 id="recommendation"></h1>
                    <h1 id="score">Score: 0.0</h1>
                </div>
            </div>
        </div>
        <script src="/js/imodel.js"></script>
    </body>
</html>