<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="css/index.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            <h1 class="headers" id="title-header">
                Ovarian Cancer Recommendation Site   
                <span id="logout">
                    <a id="logout-link" href="/logout">Log out</a>
                </span>
            </h1>
            <hr>
            <h3 id="sub-header">Welcome, {{name}}</h3>
            <div id="links">
                <h3 class="headers" id="method-header">Select which scoring method you would like to choose</h3>
                <a href="/ago" class="method-links">AGO</a>
                <a href="/imodel" class="method-links">iModel</a>
            </div>
        </main>
    </body>
</html>