<!DOCTYPE html>
<html>
    <head>
        <title>OvScore</title>
        <link href="/css/index.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
    </head>
    <body>
        <div class="main">
            <h1 class="headers" id="title-header">OvScore</h1>
            <div id="links">
                <div class="pop">
                    <h1>AGO</h1>
                    <a href="/ago" >Click here</a>
                </div>
                <div class="pop">
                    <h1>iModel</h1>
                    <a href="/imodel">Click here</a>
                </div>
                <div class="pop">
                    <h1 id="fagotti-title">Fagotti Score</h1>
                    <a id="fagotti-link" href="/fagotti">Click here</a>
                </div>
            </div>
        </div>
    </body>
</html>