<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link href="css/signup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1 id="heading">Ovarian Cancer Surgery Recommendation</h1>
        <div id="main-div">
            <h1>Sign Up</h1>
            <div id="text-div">
            <form method="POST">
                <div id="textfield">
                    </strong></strogn><input type="text" name="name" placeholder="Full Name" value="{name}" required/>
                    <input type="email" name="email" placeholder="Email" value="{email}" required/>
                    <input type="password" name="password" placeholder="Password" minlength="8" required/>
                    <input type="password" name="rePassword" placeholder="Confirm Password" minlength="8" required/>
                </div>
                <p id="error-message">{Error Message}</p>
                <input type="submit" value="Submit">
            </form>
            </div>
            <div id="log-in">
                <a href="/login">Log In</a>
            </div>
        </div>
        <footer>
            <div id="signature">
                <em>Made by Johnny Ramirez</em>
            </div>
        </footer>
    </body>
</html>