<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link href="css/signup.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1 id="heading">Ovarian Cancer Surgery Recommendation</h1>
        <div id="main-div">
            <h1>Sign Up</h1>
            <div id="text-div">
            <form method="POST">
                <div id="textfield">
                    </strong></strogn><input type="text" name="name" placeholder="Full Name" value="{name}" required/>
                    <input type="email" name="email" placeholder="Email" value="{email}" required/>
                    <input id="password" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain eight characters and at least one number, one uppercase, and one lowercase." required/>
                    <input type="password" name="repassword" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain eight characters and at least one number, one uppercase, and one lowercase." required/>
                    <label for="password">Password must contain eight or more characters that have at least one number, one uppercase, and one lowercase letter.</label>
                </div>
                <p id="error-message">{{Error Message}}</p>
                <input type="submit" value="Submit">
            </form>
            </div>
            <div id="log-in">
                <a href="/login">Log In</a>
            </div>
        </div>
    </body>
</html>