#back-link {
    position: fixed;
    top: 18px;
    left: 18px;
    font-size: 45px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 750px) {
    #back-link {
        top: 12px;
        left: 12px;
        font-size: 24px;
    }
}