body {
    background-color: rgba(0, 128, 128, 0.3);
    font-family: "Helvetica Neue";
    font-weight: lighter;
    text-align: center;
}
.headers {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 3.5vw;
}
#sub-header {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 3.5vw;
    font-weight: 300;
    margin-top: 5vw;
}
#method-header {
    font-weight: 200;
}
#title-header {
    font-weight: 200;
}
#links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: black;
    font-size: 4vw;
    margin: 0 1vw;
    width: 7vw;
    border-radius: 5px;
}
.method-links {
    margin: 0 3vw;
}
#logout-link {
    font-size: 3vw;
    position: absolute;
    right: 0;
    width: auto;
}