body {
    background-color: rgba(0, 128, 128, 0.3);
    font-family: "Helvetica Neue";
    font-weight: lighter;
    text-align: center;
}
.main-div {
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    margin: 20px;
    border-color: grey;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}
#ago-main-div {
    width: 43vw;
}
#imodel-main-div {
    width: 40vw;
}
#fagotti-main-div {
    margin-top: 5vw;
    padding-bottom: 0px;
    width: 85vw;
}
table {
    border-collapse: collapse;
    border-bottom: solid black 1px;
}
th {
    border-right: solid black 1px;
    text-align: center;
}
.top-headers {
    border-right: transparent;
    border-bottom: solid black 1px;
}
#tumour-site {
    border-right: solid black 1px;;
    border-bottom: solid black 1px;
}
table, td, th {
    font-size: 1.4vw;
}
td:hover {
    background-color: rgba(0, 128, 128, 0.15);
    cursor: pointer;
}
td {
    font-size: 1.45vw;
    font-weight: 200;
    padding: 1vw;
}
button:hover {
    text-decoration: underline;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: lighter;
    font-size: 3.5vw;
    margin: 0 2vw;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
h3 {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 1.75vw;
    margin-top: 0;
    margin-bottom: 1vw;
}
hr {
    width: 80%;
}
input[type=radio] {
    font-size: 2vw;
    margin-left: 1vw;
}
label {
    font-size: 1.5vw; 
    font-weight: 200;
}
a {
    text-decoration: none;
    color: black;
    font-size: 4vw;
    margin: 0 1vw;
    width: 7vw;
    border-radius: 5px;
}
#imodel-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: lighter;
    font-size: 3vw;
}
#logout-link {
    position: absolute;
    top: 1vw;
    right: 0;
    font-size: 3vw;
    width: auto;
}
#back-link {
    position: absolute;
    top: 1vw;
    left: 0;
    font-size: 3vw;
    width: auto;
}
#recommendation, #score {
    font-size: 2.5vw;
    text-align: center;
    font-weight: 300;
}
#risks {
    font-size: 1.5vw;
    font-weight: normal;
}