html, body {
    font-family: "Helvetica Neue";
    font-weight: 100;
    margin: 0;
    height: 100%;
    width: 100%;
    min-width: 320px;
}
body {
    background-color: rgba(0, 128, 128, 0.3);
    min-height: 400px;
}
hr {
    width: 100%;
}
.main {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-div {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px 10px 10px;
    border-color: grey;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
}
#title-header {
    font-size: 64px;
    position: absolute;
    top: 12px;
    font-weight: 200;
    background-color: transparent;
    margin: 0;
    height: auto;
    width: auto;
    cursor: pointer;
}
h1 {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 72px;
    margin: 0;
}
h3 {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 24px;
    margin: 12px;
    margin-bottom: 0;
}
#error-title {
    margin-bottom: 24px;
    font-weight: 200;
}
#links {
    margin-top: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 36px;
    margin: 10px;
    height: 100px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 128, 128, 0.5);
}
a:hover {
    background-color: rgba(0, 128, 128, 0.3);
}
a:active {
    background-color: rgba(0, 128, 128, 0.7);
}
@media screen and (max-width: 750px) {
    body {
        padding-top: 2%;
    }
    #title-header {
        top: 6px;
        font-size: 48px;
    }
    #error-title {
        margin-bottom: 12px;
    }
    .main-div {
        margin-top: 60px;
        min-height: 256px;
    }
    #links {
        flex-direction: column;
        margin-top: 24px;
    }
    h1 {
        font-size: 36px;
    }
    h3 {
        font-size: 16px;
    }
    a {
        font-size: 24px;
        min-height: 30px;
        max-height: 60px;
        margin: 6px;;
    }
}