html, body {
    font-family: "Helvetica Neue";
    font-weight: 100;
    margin: 0;
    min-width: 320px;
}
body {
    background-color: rgba(0, 128, 128, 0.3);
}
#recommendation-word, #recommendation-word2 {
    display: none;
}
.main {
    box-sizing: border-box;
    height: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px 10px 10px;
    border-color: grey;
    text-align: center;
    width: 95%;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}
.step1h1 {
    font-family: "Helvetica Neue";
    font-size: 36px;
    font-weight: 300;
}
table {
    border-collapse: collapse;
    border-bottom: solid black 1px;
}
th {
    border-right: solid black 1px;
    text-align: center;
}
.top-headers {
    border-right: transparent;
    border-bottom: solid black 1px;
}
#tumour-site {
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}
table, td, th {
    font-size: 18px;
}
td:hover {
    background-color: rgba(0, 128, 128, 0.15);
    cursor: pointer;
}
td {
    background-color: transparent;
    font-weight: 300;
    padding: 12px;
}
.recommendation, #score {
    font-size: 36px;
    margin: 5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
}
#back-link {
    position: static;
    margin-bottom: 12px;
}
#fagotti-main-div {
    display: none;
}
/*
#first-header {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}
*/
@media screen and (max-width: 700px) {
    .step1h1 {
        font-size: 28px;
    }
    #back-link {
        font-size: 36px;
    }
    th {
        font-size: 10px;
        border-right: solid black 0.75px;
    }
    td {
        font-size: 14px;
        padding: 6px;
        font-weight: 300;
    }
    th, td {
        border-top: solid black 0.75px;
    }
    #tumour-site {
        border-right: solid black .75px;
        border-bottom: solid black .75px;
    }
    table {
        border-bottom: solid black 0.75px;
    }
    .top-headers {
        border: none;
    }
    .recommendation, #score {
        font-size: 28px;
        font-weight: 300px;
    }
}
@media screen and (max-width: 500px) {
    table {
        width: 100%;
        table-layout: fixed;
    }
}

