#back-link {
    position: fixed;
    top: 12px;
    left: 18px;
    font-size: 45px;
    font-weight: 200;
}
#back-link-div {
    width: 100%;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}